.page {
  display: grid;
}

.imageContainer {
  min-width: 80%;
  max-width: 25rem;
  min-height: 20rem;
  max-height: 20rem;
  /* overflow: hidden; */
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  gap: 0 1rem;
  margin: 0.5rem 0;
}
.row span {
  font-weight: 600;
  letter-spacing: var(--letterSpacing);
  font-size: 1rem;
}
.row p {
  margin: 0;
  letter-spacing: var(--letterSpacing);
}
@media screen and (min-width: 768px) {
  .page {
    grid-template-columns: 20rem 1fr;
    gap: 0 3rem;
  }
}
